/*
 * Dialogs module.
 */

.dialog--button-close
  // We need to append important because of an issue with Vuetify adding another
  // `position: absolute` to the styles attribute and causing the click event to not trigger.
  position absolute !important
  top: $spacers.two.x
  right: $spacers.two.x
  z-index 1
