/*
 * Dropzone modules.
 */
.dropzone

  border-radius 20px
  border-style dashed
  border-width 5px
  border-color: $themeColors.primary
  display flex
  justify-content center
  flex-wrap wrap

  .dz-message
    text-align center

  .dz-preview
    width 100%
    margin 0

    .dz-error-message
      position relative
      top 0
      left 0

    .dz-image
      border-radius 10px
      height 200px
      width 100%
      div
        width 100%
        height 100%
        background-size cover
