/*
 * Grid component.
 */

.responsive-container

  display flex
  height 100%

  // The responsive container has a fab button so we add a bit of bottom padding so other elements
  // are not covered by the fab button.
  &.fab
    padding-bottom: $button-floating-large-width + $grid-gutters.lg

  @media $display-breakpoints.xs-only

    .v-card
      elevation(0)
