@import '../Theme.styl'

/*
 * List module.
 */

// Theme
v-list($theme)

  .v-list__tile__action
    .v-btn
      color: $theme.text.secondary

theme(v-list, "v-list")

.v-list__tile--avatar
    height: $toolbar-height

