@import '../Theme.styl'

//
// Toolbar
//

// Theme
v-toolbar($theme)
  color: $theme.toolbar.text.primary

  if $config.effects.frost
    background-color rgba(255, 255, 255, 0.8)

theme(v-toolbar, "v-toolbar")

.v-toolbar

  elevation(1)

  &__title > a
    color: $themeColors.primary
    text-decoration none

    img
      margin-top 10px
      height 37px

  &__text
    display flex
    align-items center

  &__content

    .v-input__slot
      margin-bottom 0

  // Do not wrap the breadcrumb text
  .v-breadcrumbs
    justify-content flex-start
    text-overflow ellipsis
    overflow hidden
    white-space nowrap

if $config.effects.frost
  // Apply the frost effect only the the main app toolbar
  .application--wrap > nav > .v-toolbar__content
    background-color rgba(255, 255, 255, 0)
    applyFrost()
