/*
 * Typography module.
 */
code
  display block

html
  font-size 15px
  text-rendering auto
  -webkit-font-smoothing auto

h1, h2, h3, h4, h5, h6
  color: $themeColors.primary

ul
  list-style-position inside
  margin-bottom: $spacers.three.y

.monospaced
  font-family $monospaced-font-family
