@import "~vuetify/src/stylus/theme.styl"
@import "Variables.styl"

$theme-light := {
  app-bar: white,
  toolbar: {
    text: {
      primary: $themeColors.primary
    }
  }
}

$theme-dark := {
  toolbar: {
    text: {
      primary: $themeColors.primary
    }
  }
}

$material-light = merge($material-light, $theme-light);
$material-dark = merge($material-dark, $theme-dark);
