$config := {
  effects: {
    frost: false,
    frostRadius: 20px
  }
};

$themeColors := json('../Json/ThemeColors.json', { hash: true });

$body-font-family := 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif
$monospaced-font-family := "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
