$themeColors := json('../Json/ThemeColors.json', { hash: true });

/**
 * Typography.
 */
$font-size-root := 15px
$body-font-family := 'Open Sans', sans-serif
$monospaced-font-family := "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace

/**
 * Effects.
 */
$effect-frost := false;
$effect-frost-radius := 20px;
